<a href="https://colab.research.google.com/github/Chinmayee54/ML/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
#Question 1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] 

#sorting the list
ages.sort()

#minimum of ages list
min_age = min(ages)

#maximum of ages list
max_age = max(ages)

#adding min and max ages to the list
ages.insert(0,min_age)
ages.insert(len(ages)-1,max_age)

""" Insertion of multiple elements to list can be done using extend
ages.extend([min_age, max_age])"""

#median age
ages.sort()
ages_length = len(ages)
median_age = (ages[ages_length//2]+ages[(ages_length//2)+1])/2 if (ages_length%2==0) else ages[ages_length//2]

#average age
average_age = sum(ages)/ages_length

#range of the ages
range_of_ages = max_age - min_age

#printing out all the variables
print("Sorted list of ages: ",ages)
print("Minimum Age: ", min_age)
print("Maximum Age: ", max_age)
print("Median: ", median_age)
print("Average age: ", average_age)
print("Range of the ages: ",range_of_ages)

Sorted list of ages:  [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Minimum Age:  19
Maximum Age:  26
Median:  24.0
Average age:  22.75
Range of the ages:  7

In [ ]:
#Question 2
#creating an empty dictionary
dog = dict()

#adding fields to the dictionary
key_list = ["name","color","breed","legs","age"]
dog = {key: input("Enter value for %s: "%(key)) for key in key_list}

#creating student dictionary and adding fields
student={"first_name":"Chinmayee", "last_name":"Pendyala","gender":"Female","age":22,"marital status":"Single","skills":["Java","python"],"country":"USA","city":"Kansas City","Address":"1234 W 15 Ter"}

#Getting the length of the student dictionary
print("Length of student dictionary: ",len(student))

#Getting the value of skills and checking the data type
print("Skills: ",student["skills"],"; Data Type: ", type(student["skills"]))

#Modifying the skills values by adding one or two skills
student["skills"]+=["nodeJS", "Spring Microservices"]

#Getting the dictionary keys as a list
print("List of Keys in Student dictionary: ",list(student.keys()))
print("List of Keys in dog dictionary: ",list(dog.keys()))

#Getting the dictionary values as a list
print("Values in Student: ",list(student.values()))
print("List of values in dog dictionary: ",list(dog.values()))

Enter value for name: snoopy
Enter value for color: white
Enter value for breed: pomeranian
Enter value for legs: 4
Enter value for age: 7
Length of student dictionary:  9
Skills:  ['Java', 'python'] ; Data Type:  <class 'list'>
List of Keys in Student dictionary:  ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'Address']
List of Keys in dog dictionary:  ['name', 'color', 'breed', 'legs', 'age']
Values in Student:  ['Chinmayee', 'Pendyala', 'Female', 22, 'Single', ['Java', 'python', 'nodeJS', 'Spring Microservices'], 'USA', 'Kansas City', '1234 W 15 Ter']
List of values in dog dictionary:  ['snoopy', 'white', 'pomeranian', '4', '7']

In [ ]:
#Question 3
#Creating tuples
brothers=("Karthik","Haranadh")
sisters=("Swathi","Manaswini")

#Joining brothers and sisters tuples and assigning it to siblings
siblings = brothers + sisters
print("Siblings: ",siblings)

#Number of siblings
print("Length of siblings tuple: ",len(siblings))

"""Modifying the siblings tuple and adding the name of father and mother and assigning it to
family_members"""
family_members = siblings + ("Prasad", "Lakshmi")
print("Family Members: ",family_members)

Siblings:  ('Karthik', 'Haranadh', 'Swathi', 'Manaswini')
Length of siblings tuple:  4
Family Members:  ('Karthik', 'Haranadh', 'Swathi', 'Manaswini', 'Prasad', 'Lakshmi')

In [ ]:
#Question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#length of the set it_companies
print("Length of set it_companies: ",len(it_companies))

#Adding 'Twitter' to it_companies
it_companies.add("Twitter")
print("After insertion of one element: ",it_companies)

#Inserting multiple IT companies at once to the set it_companies
it_companies.update(("Instagram", "Flipkart"))
print("After insertion of multiple elements: ",it_companies)

#Removing one of the companies from the set it_companies
it_companies.remove("Twitter")
print("After removal: ", it_companies)

#Difference between remove and discard
"""remove throws an Exception if the element mentioned is not present in the set
whereas discard will not throw an exception
For Example the below line with remove throws an exception since element 'Twitter' is not present in the set it_companies
whereas discard will not throw any exception even if the element 'Wipro' is abscent in the set
it_companies.remove("Twitter") """
it_companies.discard("Wipro")

#Joining A and B
print("Join A and B",(A | B))

#A intersection B
print("A intersection B: ",A & B)

#Is A subset of B?
print("Is A subset of B? ",A.issubset(B))

#Are A and B disjoint sets
print("Are A and B disjoint sets? ",A.isdisjoint(B))

#Join A with B and B with A
print("Joining A with B: ",A|B)
print("Joining B with A: ",B|A)

#What is the symmetric difference between A and B
print("Symmetric difference between A and B: ",A^B)

#Delete the sets completely
del A
del B
""" Since A and B sets are deleted the below line will throw an exception
print(A,B)"""

#Converting the ages to a set and comparing the length of the list and the set.
ages = set(age)
print("Length of list age: ",len(age))
print("Length of set ages: ",len(ages))
#Length of the set ages will be less than that of the list age due to the absence of duplicate elements

Length of set it_companies:  7
After insertion of one element:  {'Facebook', 'Apple', 'Oracle', 'Twitter', 'Amazon', 'IBM', 'Microsoft', 'Google'}
After insertion of multiple elements:  {'Facebook', 'Instagram', 'Apple', 'Oracle', 'Twitter', 'Amazon', 'IBM', 'Microsoft', 'Flipkart', 'Google'}
After removal:  {'Facebook', 'Instagram', 'Apple', 'Oracle', 'Amazon', 'IBM', 'Microsoft', 'Flipkart', 'Google'}
Join A and B {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B:  {19, 20, 22, 24, 25, 26}
Is A subset of B?  True
Are A and B disjoint sets?  False
Joining A with B:  {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A:  {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B:  {27, 28}
Length of list age:  8
Length of set ages:  5

In [ ]:
#Question 5
radius = 30

#Area of a circle
_area_of_circle_ = (22/7)*(radius**2)
print("Area of circle: ",round(_area_of_circle_,2))

#Circumference of a circle
_circum_of_circle_ = (44/7)*(radius)
print("Circumference of circle: ",round(_circum_of_circle_,2))

#Taking radius as user input and calculating the area.
radius = int(input("Enter radius value:"))
area_of_circle = (22/7)*(radius**2)
print("Area of circle with radius %d : "%(radius),round(area_of_circle,2))

Area of circle:  2828.57
Circumference of circle:  188.57
Enter radius value:5
Area of circle with radius 5 :  78.57

In [ ]:
#Question 6

input_string = "I am a teacher and I love to inspire and teach people"

#Finding out the unique words in the sentence
list_of_words = set(input_string.split(" "))
print("Number of unique words in the sentence: ",len(list_of_words))

Number of unique words in the sentence:  10

In [ ]:
#Question 7

#Using a tab escape sequence
print("Name\t\tAge\tCountry\t\tCity\nAsaabeneh\t250\tFinland\t\tHelsinki")

Name		Age	Country		City
Asaabeneh	250	Finland		Helsinki

In [ ]:
#Question 8

#Using the string formatting method for displaying
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius %d is %d meters square."%(radius,area))

The area of a circle with radius 10 is 314 meters square.

In [61]:
#Question 9 
'''Program which reads weights (lbs.) of N students into a list and converts these weights to
kilograms in a separate list using Loop. N: No of students '''
N=int(input("Enter number of students: "))
lbs=[]
kgs=[]
for index in range(N):
  lb = int(input("enter weight of student %d: "%(index)))
  lbs.append(lb)
  kgs.append(round(lb*0.453592,2))
print("List of weights in kgs: ")
print(kgs)

Enter number of students: 4
enter weight of student 0: 150
enter weight of student 1: 5
enter weight of student 2: 145
enter weight of student 3: 148
List of weights in kgs:
[68.04, 2.27, 65.77, 67.13]